
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU+Guides&display=swap');

body {
    font-family: 'Playwrite CU Guides', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}